.book {
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/book-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px; /* 112.5% */
        margin-bottom: 35px;
    }
}
